@media (min-width:768px) {
    
    body{
        background-color: #343434;
    }
    .navigation{
        background-color: 	#36454F !important;
    }
    .navbar-brand{
        font-size: 2rem;
        color: white;
    }

    .navbar-items{  
        font-size: 1.5rem;
        display: flex;
        flex-direction: row;
    }
    ul >li >a{
        color: white !important;
    }
    ul >li >a:hover{
        color: #0d6efd !important;
    }
    .submit{
        margin-top: 20px;
    }


    .main{
        margin-top: 40px;
    }


    .item-added{
        border: 1px solid white;
        color: white;
        height: 70px;
        width: 85%;
        margin: 0 auto;
        margin-top: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .item-name{
        flex-grow: 2;
        margin-left:20px ;
    }
    .quantity-value{
        margin-right: 30px;
        border-left: 1px solid white;
        padding-left: 10px;
    }

    .completed-item{
        text-decoration: line-through;
    }

}

@media(max-width:700px){
    body{
        background-color: #343434;
    }
    .navigation{
        background-color: 	#36454F !important;
    }
    .navbar-brand{
        font-size: 2rem;
        color: white;
    }

    .navbar-items{  
        font-size: 1.5rem;
        display: flex;
        flex-direction: row;
    }
    .main{
        margin-top: 40px;
    }
    .submit{
        margin-top: 20px;
    }

    .item-added{
        border: 1px solid white;
        color: white;
        height: 70px;
        width: 85%;
        margin: 0 auto;
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .item-name{
        flex-grow: 2;
        margin-left:20px ;
    }
    .quantity-value{
        margin-right: 30px;
        border-left: 1px solid white;
        padding-left: 10px;
    }

    .completed-item{
        text-decoration: line-through;
    }
}